<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wuguokai.firstapp">

    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ThreadRandomServiceDemoActivity"/>
        <receiver android:name=".broadcast.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.wuguokai.firstapp.activity.MainActivity"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.TestService">
          <!--  <intent-filter>
                <action android:name="com.wuguokai.firstapp.TestService"/>
            </intent-filter>-->
        </service>
        <service android:name=".service.RandomService"/>
        <activity android:name=".activity.SecondActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                &lt;!&ndash;下面这句可以让app不显示图标&ndash;&gt;
                &lt;!&ndash;<data android:host="AuthActivity" android:scheme="com.example.wuguokai"/>&ndash;&gt;
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>